.main {
  display: flex;
  width: 100%;
  background-color: #E5E5E5;
  color: #252A32;
}
.main__asside {
  display: flex;
  width: 32%;
  flex-direction: column;
  flex-shrink: 0;
  align-items: center;
  background-color: #252A32;
  padding: 30px 20px 30px;
  color: #F6F9FE;
}
.main__content {
  display: flex;
  flex-direction: column;
  padding: 30px 20px 30px;
  font-family: 'Roboto';
  font-size: 18px;
}