.subtitle {
  font-weight: 500;
  letter-spacing: -2px;
  margin-bottom: 10px;
}
.subtitle--occ {
  color: $orange;
  -webkit-text-stroke-width: .8px;
  -webkit-text-stroke-color: #252A32;
  margin-bottom: 20px;
  font-size: 36px;
  letter-spacing: 2px;
}
