.works {
  position: relative;
  width: 100%;
  padding: 20px 0px 0px;
  margin-bottom: 20px;
}
.works::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 1px;
  background-color: #252A32;
  opacity: .3;
}
.works__title {
  font-size: 31px;
  cursor: pointer;
  display: flex;
  margin-bottom: 20px;
  align-items: center;
  @include tablets {
    font-size: 26px;
  }
  & span {
    transition: .3s;
    &:nth-child(3) {
      margin-right: 8px;
    }
    &:hover {
      color: $orange;
      font-size: 28px;
      text-shadow: 1px -5px 5px rgba(78, 78, 78, .4), 0 0 1em;
      transition: .3s;
    }
  
  }
}
.works__list {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.works__item {
  width: 100%;
  display: flex;
  margin-bottom: 5px;
  flex-wrap: nowrap;
  margin-bottom: 20px;
  & h4 {
    font-size: 20px;
  }
}
.works__item:last-child {
  margin-bottom: 0;
}
.works__info {
  display: flex;
  flex-direction: column;
  // align-items: center;
  width: 35%;
  margin-right: 10px;
}
.works__name {
  font-size: 22px;
  font-weight: 500;
  margin-bottom: 10px;
  padding-top: 10px;
  border-top: 1px solid rgba(#252A32,.1);
}
.works__ref {
  color: #eaaa5e;
  font-size: 18px;
  margin-bottom: 20px;
}
.works__details {
  cursor: pointer;
}
.works__img {
  flex: 1;
  overflow: hidden;
  & img {
    display: block;
    width: 100%;
    object-fit: cover;
    border-radius: 10px;
    border-left: 2px solid #252A32;
    border-right: 2px solid #252A32;
    border-top: 2px solid $orange;
    border-bottom: 2px solid $orange;
  }
}